/* Header.module.css */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 16px;
  z-index: 1000; /* Set z-index as needed to ensure it appears above other elements */
}

.link {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.websiteName {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px; /* Add margin to create space between "Johar" and links */
}
