.landing {
  position: relative;
  background-color: #d71212;
  width: 100%;
  height: 3134px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-ubuntu);
}

.vertical {
  background-color: blue;
}

.title {

    font-size: var(--font-size-xl);
    letter-spacing: 0.1px;

    color: var(--color-dimgray-200);
    display: flex;
  }